#maindiv { 

	margin:auto;
	background-color:lightblue;
	color:white;
	border-radius:20px;
	border:2px solid black;
	font-family:Arial;
	font-size:26px;
	text-align:center;
	padding:20px;
	width:85%;
}
